body {
  background-color: #F7DFC4;
}

.header {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px;
  background-color: black;
}

.foot {
  font-size: .7em;
  font-style: italic;
}
